.git
.svn
.hg
.zip
.gz
.DS_Store
.target
.idea/
target/
dist/
all-dependencies.txt
self-modules.txt
third-party-dependencies.txt
.settings
.nbproject
.classpath
.project
*.iml
*.ipr
*.iws
*.tgz
.*.swp
.vim
.tmp
node_modules
npm-debug.log
.vscode
logs/*
.mvn/
.www
t.*
.factorypath
Chart.lock
yarn.lock
package-lock.json
config.gypi
test/coverage
/docs/zh_CN/介绍
/docs/zh_CN/贡献代码.md

front/
node/

*.flattened-pom.xml
/datasophon-api/src/main/resources/rebel.xml
/datasophon-common/src/main/resources/rebel.xml
/datasophon-domain/src/main/resources/rebel.xml
/datasophon-infrastructure/src/main/resources/rebel.xml
/datasophon-k8s/src/main/resources/rebel.xml
/datasophon-service/src/main/resources/rebel.xml
/datasophon-ui/src/main/resources/rebel.xml
/datasophon-worker/src/main/resources/rebel.xml
